MVCAQ/MVCAQ/Service References/ServiceReferansimiz2/AQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Kaydol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserSurname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserTypeID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="KaydolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KaydolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GirisYap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="d" type="tns:LoginData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GirisYapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GirisYapResult" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruSor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="q" type="tns:Questions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Questions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QuestionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuestionTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuestionText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuestionImage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoruSorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoruSorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruSilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoruSilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruListele">
        <s:complexType />
      </s:element>
      <s:element name="SoruListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoruListeleResult" type="tns:ArrayOfQuestions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuestions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Questions" nillable="true" type="tns:Questions" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoruAra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruAraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoruAraResult" type="tns:ArrayOfQuestions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruDuzenle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="q" type="tns:Questions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruDuzenleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoruDuzenleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoruCevapla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="q" type="tns:QuestionAnswers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QuestionAnswers">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QuestionAnserwsID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnswerUserID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Accuracy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="QuestionID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoruCevaplaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoruCevaplaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CevaplariGoster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CevaplariGosterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CevaplariGosterResult" type="tns:ArrayOfQuestionAnswers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuestionAnswers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QuestionAnswers" nillable="true" type="tns:QuestionAnswers" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="KaydolSoapIn">
    <wsdl:part name="parameters" element="tns:Kaydol" />
  </wsdl:message>
  <wsdl:message name="KaydolSoapOut">
    <wsdl:part name="parameters" element="tns:KaydolResponse" />
  </wsdl:message>
  <wsdl:message name="GirisYapSoapIn">
    <wsdl:part name="parameters" element="tns:GirisYap" />
  </wsdl:message>
  <wsdl:message name="GirisYapSoapOut">
    <wsdl:part name="parameters" element="tns:GirisYapResponse" />
  </wsdl:message>
  <wsdl:message name="SoruSorSoapIn">
    <wsdl:part name="parameters" element="tns:SoruSor" />
  </wsdl:message>
  <wsdl:message name="SoruSorSoapOut">
    <wsdl:part name="parameters" element="tns:SoruSorResponse" />
  </wsdl:message>
  <wsdl:message name="SoruSilSoapIn">
    <wsdl:part name="parameters" element="tns:SoruSil" />
  </wsdl:message>
  <wsdl:message name="SoruSilSoapOut">
    <wsdl:part name="parameters" element="tns:SoruSilResponse" />
  </wsdl:message>
  <wsdl:message name="SoruListeleSoapIn">
    <wsdl:part name="parameters" element="tns:SoruListele" />
  </wsdl:message>
  <wsdl:message name="SoruListeleSoapOut">
    <wsdl:part name="parameters" element="tns:SoruListeleResponse" />
  </wsdl:message>
  <wsdl:message name="SoruAraSoapIn">
    <wsdl:part name="parameters" element="tns:SoruAra" />
  </wsdl:message>
  <wsdl:message name="SoruAraSoapOut">
    <wsdl:part name="parameters" element="tns:SoruAraResponse" />
  </wsdl:message>
  <wsdl:message name="SoruDuzenleSoapIn">
    <wsdl:part name="parameters" element="tns:SoruDuzenle" />
  </wsdl:message>
  <wsdl:message name="SoruDuzenleSoapOut">
    <wsdl:part name="parameters" element="tns:SoruDuzenleResponse" />
  </wsdl:message>
  <wsdl:message name="SoruCevaplaSoapIn">
    <wsdl:part name="parameters" element="tns:SoruCevapla" />
  </wsdl:message>
  <wsdl:message name="SoruCevaplaSoapOut">
    <wsdl:part name="parameters" element="tns:SoruCevaplaResponse" />
  </wsdl:message>
  <wsdl:message name="CevaplariGosterSoapIn">
    <wsdl:part name="parameters" element="tns:CevaplariGoster" />
  </wsdl:message>
  <wsdl:message name="CevaplariGosterSoapOut">
    <wsdl:part name="parameters" element="tns:CevaplariGosterResponse" />
  </wsdl:message>
  <wsdl:portType name="AQServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Kaydol">
      <wsdl:input message="tns:KaydolSoapIn" />
      <wsdl:output message="tns:KaydolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <wsdl:input message="tns:GirisYapSoapIn" />
      <wsdl:output message="tns:GirisYapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoruSor">
      <wsdl:input message="tns:SoruSorSoapIn" />
      <wsdl:output message="tns:SoruSorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoruSil">
      <wsdl:input message="tns:SoruSilSoapIn" />
      <wsdl:output message="tns:SoruSilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoruListele">
      <wsdl:input message="tns:SoruListeleSoapIn" />
      <wsdl:output message="tns:SoruListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <wsdl:input message="tns:SoruAraSoapIn" />
      <wsdl:output message="tns:SoruAraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoruDuzenle">
      <wsdl:input message="tns:SoruDuzenleSoapIn" />
      <wsdl:output message="tns:SoruDuzenleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SoruCevapla">
      <wsdl:input message="tns:SoruCevaplaSoapIn" />
      <wsdl:output message="tns:SoruCevaplaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CevaplariGoster">
      <wsdl:input message="tns:CevaplariGosterSoapIn" />
      <wsdl:output message="tns:CevaplariGosterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AQServiceSoap" type="tns:AQServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kaydol">
      <soap:operation soapAction="http://tempuri.org/Kaydol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <soap:operation soapAction="http://tempuri.org/GirisYap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruSor">
      <soap:operation soapAction="http://tempuri.org/SoruSor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruSil">
      <soap:operation soapAction="http://tempuri.org/SoruSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruListele">
      <soap:operation soapAction="http://tempuri.org/SoruListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <soap:operation soapAction="http://tempuri.org/SoruAra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruDuzenle">
      <soap:operation soapAction="http://tempuri.org/SoruDuzenle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruCevapla">
      <soap:operation soapAction="http://tempuri.org/SoruCevapla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevaplariGoster">
      <soap:operation soapAction="http://tempuri.org/CevaplariGoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AQServiceSoap12" type="tns:AQServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kaydol">
      <soap12:operation soapAction="http://tempuri.org/Kaydol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GirisYap">
      <soap12:operation soapAction="http://tempuri.org/GirisYap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruSor">
      <soap12:operation soapAction="http://tempuri.org/SoruSor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruSil">
      <soap12:operation soapAction="http://tempuri.org/SoruSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruListele">
      <soap12:operation soapAction="http://tempuri.org/SoruListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruAra">
      <soap12:operation soapAction="http://tempuri.org/SoruAra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruDuzenle">
      <soap12:operation soapAction="http://tempuri.org/SoruDuzenle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoruCevapla">
      <soap12:operation soapAction="http://tempuri.org/SoruCevapla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CevaplariGoster">
      <soap12:operation soapAction="http://tempuri.org/CevaplariGoster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AQService">
    <wsdl:port name="AQServiceSoap" binding="tns:AQServiceSoap">
      <soap:address location="http://beritank-001-site1.itempurl.com/AQService.asmx" />
    </wsdl:port>
    <wsdl:port name="AQServiceSoap12" binding="tns:AQServiceSoap12">
      <soap12:address location="http://beritank-001-site1.itempurl.com/AQService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>